@model ReadersClubCore.Models.Category

@{
    ViewData["Title"] = "إضافة تصنيف جديد";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Name" class="control-label">اسم التصنيف</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <div class="alert alert-danger">@error.ErrorMessage</div>
    }

    <br />

    <button type="submit" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> إضافة
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left-circle"></i> رجوع
    </a>
</form>
